*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

[id] {
  scroll-margin-top: 60px;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* navbar */
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.navbar-toggler {
  padding: 1rem;
}

.fa-bars {
  font-size: 2rem;
}

.nav-link {
  text-transform: uppercase;
}

/* carousel */
div#carousel {
  font-size: 2.2rem; 
}

.carousel-item {
  position: relative;
  height: 400px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.carousel-img-one {
  background-image: url("../images/main-carousel-1.jpg");
}

.carousel-img-two {
  background-image: url("../images/main-carousel-2.jpg");
}

.carousel-img-three {
  background-image: url("../images/main-carousel-3.jpg");
}

@media screen and (min-width: 768px) {
  .carousel-item {
    height: 600px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-img-one {
    background-image: url("../images/main-carousel-1-hq.jpg");
  }

  .carousel-img-two {
    background-image: url("../images/main-carousel-2-hq.jpg");
  }

  .carousel-img-three {
    background-image: url("../images/main-carousel-3-hq.jpg");
  }  
}

@media screen and (min-width: 1400px) {
  .carousel-item {
    height: 800px;
  }
}