*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

[id] {
  scroll-margin-top: 60px;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.top-hero {
  position: relative;
  height: 200px;
  z-index: 0;
}

.top-hero-text {
  height: 100%;
  font-size: 3.6rem;
}

.aboutus-hero {
  background-image: url("../images/about/highway-at-night.jpg");
  background-size: cover;
  background-position: center bottom;
}

/* navbar */

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.navbar-toggler {
  padding: 1rem;
}

.fa-bars {
  font-size: 2rem;
}

.nav-link {
  text-transform: uppercase;
}

main {
  margin-top: 60px;
}

/* carousel */
div#carousel {
  font-size: 2.2rem; 
}

.carousel-item {
  position: relative;
  height: 400px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.carousel-img-one {
  background-image: url("../images/main-carousel-1.jpg");
}

.carousel-img-two {
  background-image: url("../images/main-carousel-2.jpg");
}

.carousel-img-three {
  background-image: url("../images/main-carousel-3.jpg");
}

#home-boxes > div.container {
  padding: 5rem;
}

.home-box i {
  font-size: 4rem;
}

#home-passion {
  position: relative;
  height: 350px;
  background-image: url("../images/sunset_volkswagen.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

#home-passion p.lead {
  font-size: 1.5rem;
}

/* home-story */

#home-story h3 {
  font-size: 3rem;
  font-weight: bold;
}

/* Aboutus middle */

.aboutus-middle {
  background-color: #f3f9fa;
}

.aboutus-middle img {
  height: 100%;
  object-fit: cover;
}

.aboutus-text {
  padding: 1.8rem;
}

.aboutus-text > h3 {
  font-size: 2.6rem;
  text-transform: uppercase;
  text-decoration: underline solid #007BFF;
  font-weight: 600;
  line-height: 1;
  margin: 1.5rem 0;
}

.aboutus-shadow {
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, .4);
}
.aboutus-middle > .container {
  padding: 0;
}
.aboutus-text, 
.aboutus-cards {
  padding: 2rem;
}

/* Cardbox section */

.aboutus-grid {
  display: grid;
  gap: 10px;
}

.card-box {
  display: flex;
  align-items: flex-start;
}

.card-icon,
.card-text {
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-icon {
  padding: 4rem;
}

.card-icon > i {
  font-size: 3rem;
}

.card-text {
  padding-left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.card-box h3 {
  font-size: 2rem;
  font-weight: 700;
}

/* Footer */

footer {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .carousel-item {
    height: 600px;
  }
  .aboutus-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  main {
    margin-top: 54px;
  }
  .carousel-img-one {
    background-image: url("../images/main-carousel-1-hq.jpg");
  }
  .carousel-img-two {
    background-image: url("../images/main-carousel-2-hq.jpg");
  }
  .carousel-img-three {
    background-image: url("../images/main-carousel-3-hq.jpg");
  } 
  .img-container {
    background-image: url("../images/sunset_volkswagen-hq.jpg");
    font-size: 2.2rem;    
  }
  .aboutus-text {
    transform: skew(-15deg);
  }
  .aboutus-img {
    transform: skew(-15deg);
  }
}

@media screen and (min-width: 1200px) {
  .aboutus-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .carousel-item {
    height: 800px;
  }
}